In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
excel_file_1 = r"C:\Users\Administrateur\Downloads\données_thèse.xlsx"
excel_file_2 = r"C:\Users\Administrateur\Downloads\House_Prices.xlsx"
excel_file_3 = r"X:\transfert2020.xlsx"
df_first_shift = pd.read_excel(excel_file_1, sheet_name='Sheet1')
df_two_shift = pd.read_excel(excel_file_2, sheet_name='House Price Data')
df_three_shift = pd.read_excel(excel_file_3, sheet_name='transfert2020s')
#print(df_two_shift)
#print(df_two_shift['Price'])
#print(df_three_shift)

In [6]:
pivot=df_three_shift.groupby(['NATURE','NAMEBANQUE']).sum()
shift_transfert = pivot.loc[:,'Transfert 10 6 DA']
#shift_cptDev = pivot.loc[:,'Transfert 10 6 DA']
#print(shift_transfert)
#print(shift_cptDev)

In [7]:
pivot=df_three_shift.groupby(['NAMEBANQUE']).sum()
shift_transfert = pivot.loc[:,'Transfert 10 6 DA']
print(shift_transfert)

NAMEBANQUE
AL SALAM BANK ALGERIA                                                                                 1.853378e+05
ALGERIA GULF BANK                                                                                     2.823523e+05
ARAB BANK PLC ALGERIA                                                                                 9.396591e+04
ARAB BANKING CORPORATION - ALGERIA                                                                    3.540644e+04
BA - DIRECTION GENERALE DE LA CAISSE GENERALE                                                         1.776765e+05
BANQUE AL-BARAKA D'ALGERIE                                                                            2.560097e+05
BANQUE D ALGERIE - DIRECTION DES SERVICES BANCAIRES ETRANGERS                                         7.735775e+04
BANQUE DE DEVELOPPEMENT LOCAL                                                                         1.064105e+05
BANQUE DE L'AGRICULTURE ET DE DEVEL RURAL                                                             3.253598e+05
BANQUE EXTERIEURE D'ALGERIE (DIRECTION DES OPERATIONS AVEC L'ETRANGER - DEPARTEMENT L/C ET NOSTRO)    1.298808e+06
BANQUE NATIONALE D' ALGERIE                                                                           2.950289e+05
BNP PARIBAS EL DJAZAIR                                                                                2.445548e+05
CITIBANK N.A ALGERIA                                                                                  1.716734e+05
CREDIT AGRICOLE CIB ALGERIE                                                                           2.112994e+04
CREDIT POPULAIRE D'ALGERIE                                                                            2.298086e+05
FRANSABANK EL DJAZAIR SPA                                                                             6.308713e+04
HOUSING BANK FOR TRADE &  FINANCE ALGERIA                                                             1.225766e+05
HSBC-ALGERIA                                                                                          1.507763e+05
NATIXIS ALAMANA BANQUE                                                                                2.586684e+05
SOCIETE GENERALE ALGERIE                                                                              3.201761e+05
TRUST BANK ALGERIA                                                                                    3.928924e+04
Name: Transfert 10 6 DA, dtype: float64

In [ ]:
shift_transfert.plot(kind='bar')
plt.show

In [ ]:
pivot=df_three_shift.groupby(['NATURE']).sum()
shift_transfert = pivot.loc[:,'Transfert 10 6 DA']
print(shift_transfert)

In [ ]:
shift_transfert.plot(kind='bar')
plt.show

In [ ]:
# Code source: Óscar Nájera
# License: BSD 3 clause

import numpy as np
import matplotlib.pyplot as plt


def main():
    x = np.linspace(-1, 2, 100)
    y = np.exp(x)
   

    plt.figure()
    plt.plot(x, y)
    plt.xlabel('$x$')
    plt.ylabel('$\exp(x)$')

    plt.figure()
    plt.plot(x, -np.exp(-x))
    plt.xlabel('$x$')
    plt.ylabel('$-\exp(-x)$')
    
    

    plt.show()

if __name__ == '__main__':
    main()

In [ ]:
import numpy as np
import matplotlib.pyplot as plt


def main():
    x = np.linspace(-6, 6, 100)
    y = np.sin(x)
    
    plt.figure()
    plt.plot(x, y)
    plt.xlabel('$x$')
    plt.ylabel('$sin(x)$')

    plt.show()

if __name__ == '__main__':
    main()