In [2]:
import itertools
import os

import matplotlib.pylab as plt
import numpy as np

import tensorflow as tf
import tensorflow_hub as hub

print("TF version:", tf.__version__)
print("Hub version:", hub.__version__)
print("GPU is", "available" if tf.test.is_gpu_available() else "NOT AVAILABLE")

ModuleNotFoundError: No module named 'tensorflow'

In [ ]:
if embranchement == "vertébrés": # 1
    if classe == "mammifères": # 2
        if ordre == "carnivores": # 3
            if famille == "félins": # 4
                print("c'est peut-être un chat") # 5
            print("c'est en tous cas un mammifère") # 6
        elif classe == 'oiseaux': # 7
            print("c'est peut-être un canari") # 8
        print("la classification des animaux est complexe")

In [1]:
 a = 0
while (a < 7):
    # (n'oubliez pas le double point !)
    a = a + 1 # (n'oubliez pas l'indentation !)
    print(a)

1
2
3
4
5
6
7

In [2]:
 a = 1
while a < 12:
    a = a +1
    print(a , a**2 , a**3)

2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729
10 100 1000
11 121 1331
12 144 1728

In [3]:
a, b, c = 1, 1, 1
while c < 11 :
    print(b),
    a, b, c = b, a+b, c+1

1
2
3
5
8
13
21
34
55
89

In [4]:
#  Ecrivez un programme qui affiche les 20 premiers termes de la table de multiplication par 7

a = 1
while a<20:
    print(a*7),
    a+=1

7
14
21
28
35
42
49
56
63
70
77
84
91
98
105
112
119
126
133

Ecrivez un programme qui affiche une table de conversion de sommes d'argent exprimées en
euros, en dollars canadiens. La progression des sommes de la table sera « géométrique »,
comme dans l'exemple ci-dessous :
1 euro(s) = 1.65 dollar(s)

2 euro(s) = 3.30 dollar(s)

4 euro(s) = 6.60 dollar(s)

8 euro(s) = 13.20 dollar(s)

etc. (S'arrêter à 16384 euros)

In [5]:
a = 1.65
k = 1
j = 1

while k <= 16384 :
    k = j * k
    print(j,'euro = ', a*k ,'dollar')
    j=2*j
    #k+=1

1 euro =  1.65 dollar
2 euro =  3.3 dollar
4 euro =  13.2 dollar
8 euro =  105.6 dollar
16 euro =  1689.6 dollar
32 euro =  54067.2 dollar

In [6]:
a=1
for j in range(1,13):
    
    j = j*3
    
    print(j)

3
6
9
12
15
18
21
24
27
30
33
36

In [7]:
l, h, p = 7, 11, 9
print('le volume est égale à : ', l*h*p, 'métre cube')

le volume est égale à :  693 métre cube

In [8]:
SEC = 33786061
MIN = SEC / 60

In [9]:
MIN

563101.0166666667

In [10]:
a, b, c = 1, 1, 1
while c<49:
    print(c, " : ", b, type(b))
    a, b, c = b, a+b, c+1

1  :  1 <class 'int'>
2  :  2 <class 'int'>
3  :  3 <class 'int'>
4  :  5 <class 'int'>
5  :  8 <class 'int'>
6  :  13 <class 'int'>
7  :  21 <class 'int'>
8  :  34 <class 'int'>
9  :  55 <class 'int'>
10  :  89 <class 'int'>
11  :  144 <class 'int'>
12  :  233 <class 'int'>
13  :  377 <class 'int'>
14  :  610 <class 'int'>
15  :  987 <class 'int'>
16  :  1597 <class 'int'>
17  :  2584 <class 'int'>
18  :  4181 <class 'int'>
19  :  6765 <class 'int'>
20  :  10946 <class 'int'>
21  :  17711 <class 'int'>
22  :  28657 <class 'int'>
23  :  46368 <class 'int'>
24  :  75025 <class 'int'>
25  :  121393 <class 'int'>
26  :  196418 <class 'int'>
27  :  317811 <class 'int'>
28  :  514229 <class 'int'>
29  :  832040 <class 'int'>
30  :  1346269 <class 'int'>
31  :  2178309 <class 'int'>
32  :  3524578 <class 'int'>
33  :  5702887 <class 'int'>
34  :  9227465 <class 'int'>
35  :  14930352 <class 'int'>
36  :  24157817 <class 'int'>
37  :  39088169 <class 'int'>
38  :  63245986 <class 'int'>
39  :  102334155 <class 'int'>
40  :  165580141 <class 'int'>
41  :  267914296 <class 'int'>
42  :  433494437 <class 'int'>
43  :  701408733 <class 'int'>
44  :  1134903170 <class 'int'>
45  :  1836311903 <class 'int'>
46  :  2971215073 <class 'int'>
47  :  4807526976 <class 'int'>
48  :  7778742049 <class 'int'>

In [11]:
a, b, c = 3, 2, 1
while c < 15:
    print(c, ": ", b)
    a, b, c = b, a*b, c+1

1 :  2
2 :  6
3 :  12
4 :  72
5 :  864
6 :  62208
7 :  53747712
8 :  3343537668096
9 :  179707499645975396352
10 :  600858794305667322270155425185792
11 :  107978831564966913814384922944738457859243070439030784
12 :  64880030544660752790736837369104977695001034284228042891827649456186234582611607420928
13 :  7005669890111832002923764139957621692162454505797269791738369231327175488362123506443467340026896520469610300883250624900843742470237847552
14 :  454528076456265799856362940482493512051682398707229461514016556556583986422276163358151238257824601969802061415367471160941735505142279479530059170096950422693079038247634055829175296831946224503933501754776033004012758368256

In [12]:
a, b, c = 1., 2., 1
while c < 15:
    print(c, ": ", b)
    a, b, c = b, a*b, c+1

1 :  2.0
2 :  2.0
3 :  4.0
4 :  8.0
5 :  32.0
6 :  256.0
7 :  8192.0
8 :  2097152.0
9 :  17179869184.0
10 :  3.602879701896397e+16
11 :  6.189700196426902e+26
12 :  2.2300745198530623e+43
13 :  1.3803492693581128e+70
14 :  3.078281734093319e+113

In [13]:
jour = ['dimanche','lundi','mardi','mercredi','jeudi','vendredi','samedi']
a, b = 0, 0
while a<14:
    a = a + 1
    b = a % 7
    print(a, jour[b])

1 lundi
2 mardi
3 mercredi
4 jeudi
5 vendredi
6 samedi
7 dimanche
8 lundi
9 mardi
10 mercredi
11 jeudi
12 vendredi
13 samedi
14 dimanche

t1 = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

t2 = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin',
'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']

Écrivez un petit programme qui crée une nouvelle liste t3. Celle-ci devra contenir tous les
éléments des deux listes en les alternant, de telle manière que chaque nom de mois soit suivi
du nombre de jours correspondant : ['Janvier',31,'Février',28,'Mars',31, etc...].

In [14]:
t1 = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
t2 = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin',
'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
t3 = []
i=1

In [15]:
for i in range(12):
    #t3[i] = t2[i]+str(t1[i])
    print(t2[i]+" "+str(t1[i])),

Janvier 31
Février 28
Mars 31
Avril 30
Mai 31
Juin 30
Juillet 31
Août 31
Septembre 30
Octobre 31
Novembre 30
Décembre 31

In [16]:
t = [32, 5, 12, 8, 3, 75, 2, 15]
print('le max de t est : ', max(t))

le max de t est :  75

In [17]:
from turtle import *
forward(120)
left(90)
color('red')
forward(80)

In [18]:
reset()
a = 0
while a <12:
    a = a +1
    forward(150)
    left(150)

In [19]:
a = input('entrez une valeur numérique : ')
b = int(a) < 5
    
print('la valeur de b est', b, ':')
if b:
    print("la condition b est vraie")
else:
    print("la condition b est fausse")

entrez une valeur numérique : 4
la valeur de b est True :
la condition b est vraie

In [21]:
# Utilisation d'une liste et de branchements conditionnels
print("Ce script recherche le plus grand de trois nombres")
print('Veuillez entrer trois nombres séparés par des virgules : ')
# Note : la fonction list() convertit en liste la séquence de données qu'on
# lui fournit en argument. L'instruction ci-dessous convertira donc les
# données fournies par l'utilisateur en une liste nn :
nn = list(input())
max, index = nn[0], 'premier'
if nn[1] > max: # ne pas omettre le double point !
    max = nn[1]
index = 'second'
if nn[2] > max:
    max = nn[2]
index = 'troisième'
print("Le plus grand de ces nombres est", max)
print ("Ce nombre est le", index, "de votre liste.")

Ce script recherche le plus grand de trois nombres
Veuillez entrer trois nombres séparés par des virgules :
1

IndexError: list index out of range

In [ ]:
# Instructions composées <while> - <if> - <elif> - <else> 

print('Choisissez un nombre de 1 à 3 (ou zéro pour terminer)')
a = input() 
while a != 0:    # l'opérateur != signifie "différent de"
    if a == 1: 
        print("Vous avez choisi un :",a) 
        print("le premier, l'unique, l'unité ...") 
    elif a == 2: 
        print("Vous préférez le deux :", a) 
        print("la paire, le couple, le duo ...") 
    elif a == 3: 
        print("Vous optez pour le plus grand des trois :", a) 
        print("le trio, la trinité, le triplet ...")
    else : 
        print("Un nombre entre UN et TROIS, s.v.p.") 
    print('Choisissez un nombre de 1 à 3 (ou zéro pour terminer) '), 
    a = input() 
print("Vous avez entré zéro :") 
print("L'exercice est donc terminé.")

Choisissez un nombre de 1 à 3 (ou zéro pour terminer)
2
Un nombre entre UN et TROIS, s.v.p.
Choisissez un nombre de 1 à 3 (ou zéro pour terminer)
3
Un nombre entre UN et TROIS, s.v.p.
Choisissez un nombre de 1 à 3 (ou zéro pour terminer)
1
Un nombre entre UN et TROIS, s.v.p.
Choisissez un nombre de 1 à 3 (ou zéro pour terminer)
8
Un nombre entre UN et TROIS, s.v.p.
Choisissez un nombre de 1 à 3 (ou zéro pour terminer)
100
Un nombre entre UN et TROIS, s.v.p.
Choisissez un nombre de 1 à 3 (ou zéro pour terminer)
0
Un nombre entre UN et TROIS, s.v.p.
Choisissez un nombre de 1 à 3 (ou zéro pour terminer)